<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quizzes</title>
</head>
<body>
<p><%= "Lista de Quizzes" %></p>
<table>
    <% for (var i in quizzes){%>
    <% var quiz= quizzes[i];%>
  <li>
      <%=quiz.question%>: <%=quiz.answer%>
  </li>
    <%}%>
</table>
<a href="/credits">credits</a>
</body>
</html>